@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+AU+QLD:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.oswald-fontstyle {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared style */

/* 3A3A3A */
.nav-color{
    color: #3A3A3A;
}
.display-flex{
    display: flex;
}
/* margin */
.margin{
    margin: 2rem 5rem;
}

/* nav style */

.navbar{
    align-items:center;
    justify-content:space-between

}

.company-name > h2 {
    font-size: 1.5rem;
    font-weight: 700;
}
.navigation-bar{
    font-size: 1rem;
    font-weight: 400;
    gap:1.5rem
}
.navigation-bar > li {
    list-style: none;
}
.navigation-bar li > a {
    text-decoration: none;

}

